.pa {
	position: absolute
}

.pr {
	position: relative
}





img {
	border: 0
}





.container-product:before,
.container-product:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Hiragino Sans GB W3", "Microsoft YaHei", Arial, Verdana, "\5b8b\4f53";
	font-size: 14px;
	line-height: 1.42857143;
	color: #303030;
	background-color: #fff
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none
}

input,
button {
	padding: 0;
	border: none;
	*border: 0
}

input[type="text"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0px
}

body,
ul,
ol,
li,
p,
dl,
dt,
dd {
	padding: 0;
	margin: 0
}

ul,
ol {
	list-style: none
}

a {
	color: #428bca;
	text-decoration: none;
	outline: none
}

a:hover,
a:focus {
	color: #2a6496
}

a:focus {
	outline: none
}

img {
	vertical-align: middle
}

a img {
	border: none
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

.img-circle {
	border-radius: 50%
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

table {
	width: 100%
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.none {
	display: none
}

.dib-wrap {
	font-size: 0;
	*word-spacing: -1px
}

.dib {
	font-size: 13px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top
}

@media (-webkit-min-device-pixel-ratio:0) {
	.dib-wrap {
		letter-spacing: -5px
	}
}

.dib {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.fl {
	float: left
}

.fr {
	float: right
}

@media (max-width:720px) {
	.m-fl {
		float: none
	}
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.btn,
.btn:hover {
	color: #fff !important
}

.btn {
	display: inline-block;
	background-color: #3ec0a3;
	font-size: 16px;
	line-height: 44px;
	padding-left: 42px;
	padding-right: 42px
}

.btn:hover {
	background-color: #48c9b0
}

.btn-md {
	line-height: 34px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px
}

.btn-sm {
	line-height: 28px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 13px
}

.btn-gray {
	background-color: #d9d9d9
}

.btn-gray:hover {
	background-color: #e8e8e8
}

.btn-load {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.btn-loading {
	position: relative
}

.btn-loading .onloading {
	position: absolute;
	top: 0;
	background-color: inherit;
	height: 100%
}

.btn-loading .onloading .sloading {
	position: relative;
	top: 48%;
	margin: 0 auto;
	height: 100%;
	width: 40px
}

.btn-loading .onloading .sloading>div {
	height: 5px;
	width: 5px
}

.goto,
.active,
.goto:hover,
.active:hover {
	color: #226f5e
}

.goto-btn,
.goto-btn:hover {
	color: #3ec0a3
}

.input {
	border: #ededed 2px solid;
	width: 148px;
	padding: 9px
}

.input.selected {
	border-color: #3ec0a3
}

.input:focus {
	border-color: #3ec0a3;
	outline: none
}

.input.input-error {
	border-color: #ffa09d
}

.header {
	margin-bottom: 40px
}

.header>h3 {
	color: #515050;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 18px;
	border-left: 4px solid #3ec0a3;
	padding-left: 8px
}

@media (max-width:720px) {
	.header {
		padding-top: 10px;
		margin-bottom: 20px
	}
}

.text-error {
	color: #d9534f
}

.text-success,
.text-warn {
	color: #226f5e
}

.text-disabled,
.text-default {
	color: #666
}

.container {
	margin-right: 17%;
	margin-left: 17%;
	width: 1240px
}

.container:before,
.container:after {
	content: " ";
	display: table
}

.container:after {
	clear: both
}

.container:before,
.container:after {
	content: " ";
	display: table
}

.container:after {
	clear: both
}

@media (max-width:1239px) {
	.container {
		width: 988px
	}
}

@media (max-width:987px) {
	.container {
		width: 736px
	}
}

@media (max-width:720px) {
	.container {
		width: 100%
	}
}

@media (max-width: 720px) {
	.container90 {
		width: 90%
	}
}

.row {
	margin-left: -10px;
	margin-right: -10px
}

.row:before,
.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.row:before,
.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

@media (max-width:720px) {
	.row {
		margin-left: 0px;
		margin-right: 0px
	}
}

@media (max-width:1239px) {
	.hide-md {
		display: none !important
	}
}

@media (max-width:987px) {
	.hide-sm {
		display: none !important
	}
}

@media (max-width:720px) {
	.m-hidden {
		display: none
	}
}

@media (max-width:720px) {
	.m-shidden {
		visibility: hidden
	}
}

.m-visibility {
	display: none
}

@media (max-width:720px) {
	.m-visibility {
		display: block
	}
}


.overlay-container {
	border: #3ec0a3 2px solid;
	background-color: #fff;
	padding: 20px
}
.overlay-container.selected {
	border-color: #3ec0a3
}
.overlay-container .overlay-title {
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 20px
}

.overlay-container .overlay-quit {
	border: none;
	background-color: #fff;
	right: 0
}

.container-center {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 488px;
	height: 250px;
	margin: auto
}

@media (max-width:720px) {
	.container-center {
		width: 95%
	}
	.container-center .overlay-quit {
		top: -3px;
		right: -3px
	}
}

.overlay-content {
	text-align: center
}

.overlay-content .overlay-text {
	padding-top: 20px;
	padding-bottom: 40px
}

@media (max-width:720px) {
	.overlay-content .overlay-text {
		padding-top: 0;
		padding-bottom: 20px
	}
}

.overlay-content .btn+.btn {
	margin-left: 14px
}

@media (max-width:720px) {
	.btn-group .btn {
		width: 100%;
		display: block!important;
		padding-left: 0px;
		padding-right: 0px
	}
	.btn-group .btn:first-child {
		margin-bottom: 5px
	}
	.btn-group .btn:last-child {
		margin-left: 0px!important
	}
}

.overlay-voucher .container-center {
	height: 480px;
	overflow-y: auto
}

.overlay-voucher .overlay-container .overlay-title {
	margin-bottom: 0
}

.overlay-voucher tr {
	border-bottom: 1px solid #dfdfdf
}

.overlay-voucher tr.checked,
.overlay-voucher tr:hover {
	background-color: #f8f8f8
}

.overlay-voucher tr.checked a {
	padding-left: 20px;
	background-position: -100px -12px
}

.overlay-voucher tr.checked a:hover,
.overlay-voucher tr.checked a.checked {
	background-position: -100px -12px
}

.overlay-voucher tr.checked a:hover>i,
.overlay-voucher tr.checked a.checked>i {
	border: #3ec0a3 1px solid
}

.overlay-voucher tr.checked a:hover>i.selected,
.overlay-voucher tr.checked a.checked>i.selected {
	border-color: #3ec0a3
}

.overlay-voucher tr.checked a>i {
	border: #3ec0a3 1px solid
}

.overlay-voucher tr.checked a>i.selected {
	border-color: #3ec0a3
}

.overlay-voucher td {
	padding-top: 20px;
	padding-bottom: 20px
}

.overlay-voucher .radio {
	width: 30px
}

.overlay-voucher .radio a {
	display: inline-block;
	padding-left: 20px;
	width: 18px;
	height: 18px;
	margin-left: 8px
}

.overlay-voucher .radio a:hover,
.overlay-voucher .radio a.checked {
	background-position: -100px -12px
}

.overlay-voucher .radio a:hover>i,
.overlay-voucher .radio a.checked>i {
	border: #3ec0a3 1px solid
}

.overlay-voucher .radio a:hover>i.selected,
.overlay-voucher .radio a.checked>i.selected {
	border-color: #3ec0a3
}

.overlay-voucher .voucher-value {
	width: 80px;
	line-height: 50px;
	border: #dfdfdf 1px solid;
	margin-left: 20px;
	margin-left: 0
}

.overlay-voucher .voucher-value.selected {
	border-color: #3ec0a3
}

.overlay-voucher .voucher-value strong {
	font-size: 1.8em
}

.overlay-voucher .voucher-name {
	width: 220px
}

.overlay-voucher .voucher-name p {
	width: 220px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.overlay-voucher .voucher-name p+p {
	color: #666;
	margin-top: 3px
}

.overlay-voucher .voucher-date {
	vertical-align: top;
	padding-top: 28px
}

.overlay-voucher .btn-group {
	text-align: center;
	margin-top: 20px
}

.overlay-voucher .btn-group .btn+.btn {
	margin-left: 14px
}

.overlay-owner {
	position: absolute;
	z-index: 10
}

.overlay-owner::after,
.overlay-owner .after {
	content: "";
	position: absolute;
	right: 30px;
	top: 100%;
	border: 12px solid transparent;
	border-top-color: #3ec0a3
}

.overlay-owner .overlay-container {
	width: 394px
}

.overlay-owner .overlay-content {
	text-align: left
}

.overlay-owner .overlay-content li {
	margin-bottom: 20px
}

.overlay-owner.overlay-owner-bottom::after,
.overlay-owner.overlay-owner-bottom .after {
	content: "";
	position: absolute;
	right: 30px;
	top: -12px;
	border: 12px solid transparent;
	border-top-color: #3ec0a3
}

.overlay-owner.overlay-owner-bottom:after,
.overlay-owner.overlay-owner-bottom .after {
	top: -24px;
	border-color: transparent transparent #3ec0a3 transparent
}

.overlay-owner.overlay-trace .overlay-content {
	height: 220px;
	overflow-y: auto
}

.overlay-owner.overlay-fond .overlay-content {
	height: 300px;
	overflow-y: auto
}

.overlay-owner input {
	width: 100%;
	height: 40px
}

.overlay-owner textarea {
	width: 100%;
	height: 80px;
	padding-top: 4px;
	padding-bottom: 4px;
	overflow: hidden
}

.overlay-owner .submit {
	text-align: center;
	margin-top: 30px;
	position: relative
}

.overlay-owner .submit span {
	position: absolute;
	left: 250px;
	top: 12px
}

.overlay-owner .sns-bind {
	padding-left: 24px;
	color: #303030
}

.overlay-owner .sns-bind:hover {
	background-position: -340px -158px
}

.overlay-owner .sns-bind.checked {
	background-position: -340px -178px
}

.overlay-owner .limit-text {
	color: #848484;
	font-size: 12px;
	position: absolute;
	right: 8px;
	bottom: 4px
}

.overlay-owner .start div {
	width: 132px;
}

.overlay-owner .start div:before,
.overlay-owner .start div:after {
	content: " ";
	display: table
}

.overlay-owner .start div:after {
	clear: both
}

.overlay-owner .start div:before,
.overlay-owner .start div:after {
	content: " ";
	display: table
}

.overlay-owner .start div:after {
	clear: both
}

.overlay-owner .start div a {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	float: left;
	width: 25px;
	height: 21px;
	padding-right: 3px
}

.overlay-owner .start div.start1 {
	background-position: -200px -110px
}

.overlay-owner .start div.start2 {
	background-position: -200px -140px
}

.overlay-owner .start div.start3 {
	background-position: -200px -170px
}

.overlay-owner .start div.start4 {
	background-position: -200px -200px
}

.overlay-owner .start div.start5 {
	background-position: -200px -230px
}

.overlay-owner .item-trace,
.overlay-owner .item-fond {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 20px;
	font-size: 13px
}

.overlay-owner .trace-date {
	color: #666;
	margin-bottom: 2px
}

.overlay-owner.overlay-fond {
	right: 0;
	top: 56px;
	display: none
}

@media (max-width:987px) {
	.overlay-owner.overlay-fond::after,
	.overlay-owner.overlay-fond .after {
		content: "";
		position: absolute;
		right: 74%;
		top: -12px;
		border: 12px solid transparent;
		border-top-color: #3ec0a3
	}
	.overlay-owner.overlay-fond:after,
	.overlay-owner.overlay-fond .after {
		top: -24px;
		border-color: transparent transparent #3ec0a3 transparent
	}
}

.overlay-owner .item-fond {
	padding-bottom: 14px;
	margin-bottom: 14px !important
}

.overlay-owner .item-fond:before,
.overlay-owner .item-fond:after {
	content: " ";
	display: table
}

.overlay-owner .item-fond:after {
	clear: both
}

.overlay-owner .item-fond:before,
.overlay-owner .item-fond:after {
	content: " ";
	display: table
}

.overlay-owner .item-fond:after {
	clear: both
}

.overlay-owner .item-fond_avatar {
	float: left
}

.overlay-owner .item-fond_avatar,
.overlay-owner .item-fond_avatar img {
	width: 70px;
	height: 70px
}

.overlay-owner .item-fond_main {
	margin-left: 80px
}

@media (max-width:720px) {
	.overlay-owner {
		width: 98%;
		left: 1%
	}
	.overlay-owner .overlay-container {
		width: 100%
	}
}
.crumbs {
	margin-bottom: 16px
}
.crumbs:before,
.crumbs:after {
	content: " ";
	display: table
}
.crumbs:after {
	clear: both
}
.crumbs:before,
.crumbs:after {
	content: " ";
	display: table
}
.crumbs:after {
	clear: both
}
.crumbs>a {
	float: left;
	color: #303030;
	font-size: 13px
}
.crumbs>a+a:before {
	content: ">";
	padding-left: 12px;
	padding-right: 12px
}

@media (max-width: 720px) {
	.crumbs {
		display: none
	}
}

.prop {
	position: relative;
	margin-top: -20px;
	margin-bottom: 30px
}

.prop:before,
.prop:after {
	content: " ";
	display: table
}

.prop:after {
	clear: both
}

.prop:before,
.prop:after {
	content: " ";
	display: table
}

.prop:after {
	clear: both
}

@media (max-width: 720px) {
	.prop {
		margin-bottom: 30px
	}
}

.prop .prop-img {
	float: left
}

.prop .prop-img .img-show:before,
.prop .prop-img .img-show:after {
	content: " ";
	display: table
}

.prop .prop-img .img-show:after {
	clear: both
}

.prop .prop-img .img-show:before,
.prop .prop-img .img-show:after {
	content: " ";
	display: table
}

.prop .prop-img .img-show:after {
	clear: both
}

.prop .prop-img .img-show img {
	width: 465px;
	height: 465px
}

@media (max-width:987px) {
	.prop .prop-img .img-show img {
		width: 318px;
		height: 318px
	}
}


@media (max-width: 720px) {
	.prop .prop-img {
		float: none;
		width: 90%;
		margin: 0 auto 60px;
		overflow: hidden
	}
	.prop .prop-img .img-show img {
		display: block;
		max-width: 100%;
		height: auto;
		width: 100%
	}
}

.prop .container-product {
	float: right;
	padding-right: 0px;
	width: 720px;
	position: relative
}

@media (max-width:1239px) {
	.prop .container-product {
		width: 510px
	}
}

@media (max-width:987px) {
	.prop .container-product {
		width: 378px;
		padding-right: 0
	}
}

@media (max-width: 720px) {
	.prop .container-product {
		float: none;
		width: 90%;
		margin: 0 auto
	}
}

.prop .prop-fields>dt {
	color: #303030;
	font-size: 18px;
	margin-bottom: 15px
}

.prop .prop-fields>dd {
	margin-bottom: 10px
}

.prop .prop-fields>dd>label {
	color: #848484;
	font-size: 13px;
	width: 45px;
	float: left;
	padding-top: 5px
}

.prop .prop-fields .brand>a {
	text-decoration: none;
	color: #226f5e;
	font-size: 24px
}

.prop .prop-fields .price {
	position: relative;
	height: 34px
}

.prop .prop-fields .price>span {
	font-family: "Gothem Medium", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
	color: #3ec0a3;
	font-size: 24px;
	font-weight: bold
}

.prop .prop-fields .price .old {
	color: #dfdfdf;
	text-decoration: line-through;
	padding-left: 18px
}

.prop .prop-fields .price .comment {
	position: absolute;
	right: 0;
	bottom: 0
}

.prop .prop-fields .price .comment a {
	text-decoration: underline;
	color: #515050
}

.prop .prop-fields .price .comment i {
	display: inline-block;
	width: 92px;
	height: 15px;
	margin-right: 10px
}

@media (max-width:987px) {
	.prop .prop-fields .price .comment {
		padding-left: 0
	}
	.prop .prop-fields .price .comment i,
	.prop .prop-fields .price .comment a {
		display: block;
		text-align: right;
		margin-right: 0
	}
}

@media (max-width: 720px) {
	.prop .prop-fields .price .comment {
		display: none
	}
}

.prop .prop-fields .story {
	color: #666;
	font-size: 13px;
	padding-right: 50%;
}

.prop .prop-fields .story a {
	text-decoration: underline;
	color: #226f5e
}

.prop .prop-fields .story .story-more {
	display: none
}

.prop .prop-fields .color,
.prop .prop-fields .size,
.prop .prop-fields .num {
	margin-bottom: 10px
}

.prop .prop-fields .color:before,
.prop .prop-fields .size:before,
.prop .prop-fields .num:before,
.prop .prop-fields .color:after,
.prop .prop-fields .size:after,
.prop .prop-fields .num:after {
	content: " ";
	display: table
}

.prop .prop-fields .color:after,
.prop .prop-fields .size:after,
.prop .prop-fields .num:after {
	clear: both
}

.prop .prop-fields .color:before,
.prop .prop-fields .size:before,
.prop .prop-fields .num:before,
.prop .prop-fields .color:after,
.prop .prop-fields .size:after,
.prop .prop-fields .num:after {
	content: " ";
	display: table
}

.prop .prop-fields .color:after,
.prop .prop-fields .size:after,
.prop .prop-fields .num:after {
	clear: both
}

.prop .prop-fields .color>div,
.prop .prop-fields .size>div,
.prop .prop-fields .num>div {
	padding-left: 45px
}

.prop .prop-fields .color .text-error,
.prop .prop-fields .size .text-error,
.prop .prop-fields .num .text-error {
	line-height: 30px;
	padding-left: 10px;
	font-size: 12px;
	display: inline-block
}

.prop .prop-fields .color,
.prop .prop-fields .size {
	margin-bottom: 6px
}

.prop .prop-fields .color div:before,
.prop .prop-fields .size div:before,
.prop .prop-fields .color div:after,
.prop .prop-fields .size div:after {
	content: " ";
	display: table
}

.prop .prop-fields .color div:after,
.prop .prop-fields .size div:after {
	clear: both
}

.prop .prop-fields .color div:before,
.prop .prop-fields .size div:before,
.prop .prop-fields .color div:after,
.prop .prop-fields .size div:after {
	content: " ";
	display: table
}

.prop .prop-fields .color div:after,
.prop .prop-fields .size div:after {
	clear: both
}

.prop .prop-fields .color a,
.prop .prop-fields .size a {
	float: left;
	margin-right: 10px;
	margin-bottom: 12px
}

.prop .prop-fields .color a:hover,
.prop .prop-fields .size a:hover,
.prop .prop-fields .color a.clicked,
.prop .prop-fields .size a.clicked {
	border: #3ec0a3 1px solid
}

.prop .prop-fields .color a:hover.selected,
.prop .prop-fields .size a:hover.selected,
.prop .prop-fields .color a.clicked.selected,
.prop .prop-fields .size a.clicked.selected {
	border-color: #3ec0a3
}

.prop .prop-fields .color a {
	width: 49px;
	height: 49px;
	padding: 1px
}

.prop .prop-fields .color a:hover,
.prop .prop-fields .color a.clicked {
	border: #3ec0a3 1px solid;
	padding: 0
}

.prop .prop-fields .color a:hover.selected,
.prop .prop-fields .color a.clicked.selected {
	border-color: #3ec0a3
}

.prop .prop-fields .color img {
	width: 47px;
	height: 47px
}

@media (max-width: 720px) {
	.prop .prop-fields .color {
		display: none
	}
}

.prop .prop-fields .size a {
	padding-left: 8px;
	padding-right: 8px;
	min-width: 40px;
	line-height: 28px;
	border: #dfdfdf 1px solid;
	text-align: center;
	color: #848484
}

.prop .prop-fields .size a.selected {
	border-color: #3ec0a3
}

.prop .prop-fields .size a:hover,
.prop .prop-fields .size a.clicked {
	border-color: #3ec0a3
}

.prop .prop-fields .num>div {
	font-size: 0;
	*word-spacing: -1px
}

.prop .prop-fields .num>div input,
.prop .prop-fields .num>div a {
	font-size: 13px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center;
	font-size: 14px;
	border: #dfdfdf 1px solid
}

.prop .prop-fields .num>div input.selected,
.prop .prop-fields .num>div a.selected {
	border-color: #3ec0a3
}

.prop .prop-fields .num>div>input {
	width: 50px;
	height: 30px;
	color: #515050;
	border-left: none;
	border-right: none
}

.prop .prop-fields .num>div>a {
	height: 30px;
	line-height: 28px;
	width: 28px;
	background-color: #f6f5f5;
	color: #515050
}

.prop .prop-fields .num>div>a.minus {
	background-color: #fff
}

.prop .prop-fields>hr {
	margin-bottom: 20px
}

.prop .btn-group,
.prop .like-container {
	padding-bottom: 10px
}

.prop .btn-group {
	float: left
}

.prop .btn-group>button {
	width: 148px;
	line-height: 44px;
	margin-bottom: 10px;
	margin-right: 20px;
	color: #eee;
	font-size: 14px;
	background-color: #f55555
}

.prop .btn-group>button:hover {
	background-color: #ff5959
}

@media (max-width: 720px) {
	.prop .btn-group>button+button {
		margin-left: auto
	}
}

.prop .btn-group>button.goto {
	background-color: #3ec0a3
}

.prop .btn-group>button.goto:hover {
	background-color: #48c9b0
}

.prop .btn-group>button.onlinechat {
	background-color: #56c1d5
}

.prop .btn-group>button.onlinechat:hover {
	background-color: #67c7d9
}

@media (max-width: 720px) {
	.prop .btn-group>button {
		width: 32%;
		margin-right: 1%
	}
	.prop .btn-group>button.goto {
		float: left
	}
}

@media (max-width: 720px) {
	.prop .btn-group:before,
	.prop .btn-group:after {
		content: " ";
		display: table
	}
	.prop .btn-group:after {
		clear: both
	}
	.prop .btn-group:before,
	.prop .btn-group:after {
		content: " ";
		display: table
	}
	.prop .btn-group:after {
		clear: both
	}
}

.prop .like-container {
	float: left;
	position: relative;
	line-height: 40px;
	color: #848484;
	cursor: pointer
}

.prop .like-container:hover .overlay-fond {
	display: block
}

@media (max-width:987px) {
	.prop .like-container:hover .overlay-fond {
		right: -232px
	}
}

.prop .like-container>a {
	width: 50px;
	height: 44px;
	background-color: #dfdfdf;
	display: inline-block;
	text-align: center;
	margin-right: 6.66666667px
}


.prop .like-container .like--checked {
	background-color: #ff5566
}

@media (max-width: 1239px) {
	.prop .like-container {
		margin-left: 0
	}
}

@media (max-width: 987px) {
	.prop .like-container {
		margin-left: 0
	}
}

@media (max-width: 720px) {
	.prop .like-container {
		display: none
	}
}

@media (max-width:987px) {
	.prop .btn-group,
	.prop .like-container {
		float: none
	}
	.prop .like-container {
		width: 160px
	}
}
.prop .extra+.extra {
	margin-top: 8px
}

.prop .sns-btn {
	position: absolute;
	right: 0;
	top: -50px
}

.prop .sns-btn>a {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-left: 8px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.prop .sns-btn>a.icon-a:hover,
.prop .sns-btn>a.icon-a.clicked {
	background-position: 0 -80px
}

.prop .sns-btn>a.icon-b:hover,
.prop .sns-btn>a.icon-b.clicked {
	background-position: -40px -80px
}
.prop .sns-btn>a.icon-c:hover,
.prop .sns-btn>a.icon-c.clicked {
	background-position: -80px -80px
}


.prop .sns-btn>a.icon-d:hover,
.prop .sns-btn>a.icon-d.clicked {
	background-position: -120px -80px
}


.prop .sns-btn>a.icon-e:hover,
.prop .sns-btn>a.icon-e.clicked {
	background-position: -160px -80px
}

.prop .sns-btn>a:first-child {
	margin-right: 6px
}

@media (max-width: 720px) {
	.prop .sns-btn {
		display: none
	}
}

.ibelieve {
	margin-bottom: 12px
}

.ibelieve img {
	max-width: 100%;
	max-height: 70px
}

#thumblist {
	margin-top: 15px
}

#thumblist:before,
#thumblist:after {
	content: " ";
	display: table
}

#thumblist:after {
	clear: both
}

#thumblist:before,
#thumblist:after {
	content: " ";
	display: table
}

#thumblist:after {
	clear: both
}

#thumblist>li {
	float: left
}

#thumblist>li+li {
	margin-left: 15px
}

#thumblist>li img {
	display: inline-block;
	width: 81px;
	height: 81px
}

#thumblist>li.gpic_on>img {
	border: #3ec0a3 3px solid
}

#thumblist>li.gpic_on>img.selected {
	border-color: #3ec0a3
}

@media (max-width:987px) {
	#thumblist li+li {
		margin-left: 12px
	}
	#thumblist li img {
		width: 54px;
		height: 54px
	}
}

@media (max-width: 720px) {
	#thumblist li+li {
		margin-left: 5%
	}
	#thumblist li {
		width: 16%;
		height: auto
	}
	#thumblist li img {
		width: 100%;
		display: block;
		height: auto
	}
}
.label-header {
	border-bottom: 2px solid #dfdfdf;
	margin-left: 17%;
	margin-right: 17%;
}

.label-header li {
	width: 33%;
	float: left
}

.label-header li.checked a {
	border-bottom: 2px solid #3ec0a3;
	color: #226f5e;
	margin-bottom: -2px
}

.label-header a {
	line-height: 40px;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #303030;
	outline: none
}

@media (max-width: 720px) {
	.label-header {
		margin-bottom: 20px
	}
}

.p-story {
	line-height: 1.8em
}

.p-story h4 {
	font-weight: normal
}

.p-story .p-txt {
	color: #666;
	font-size: 13px;
	margin-bottom: 30px
}

.p-story .p-desc {
	color: #303030;
	font-size: 13px;
	margin-top: 60px
}

.p-story .p-desc:before,
.p-story .p-desc:after {
	content: " ";
	display: table
}







.checkbox {
	margin-bottom: 20px
}

.container-404 {
	width: 414px;
	margin-top: 80px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #fff
}

.container-404:before,
.container-404:after {
	content: " ";
	display: table
}

.container-404:after {
	clear: both
}

.container-404:before,
.container-404:after {
	content: " ";
	display: table
}

.container-404:after {
	clear: both
}

.container-404 strong {
	font-size: 200px;
	display: block;
	line-height: 1.6em
}

.container-404 p {
	line-height: 1.8em;
	margin-bottom: 20px;
	color: #303030;
	font-size: 20px
}

.container-404 .btn {
	margin-right: 16px
}

.container-404 .btn-group {
	color: #303030
}

}